@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-start-rgb: 45, 60, 74;
    --background-end-rgb: 14, 17, 28;
}

html {
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

p {
    color: white;
}

h1,
h2,
h3,
h4,
h5 {
    color: #afb5ba;
}

input {
    display: block;
    height: 40px;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #69737f;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #69737f;
    border-radius: 4px;
    outline: none;
}

input:focus {
    animation: border-color 0.25s linear 0s 1;
    animation-fill-mode: forwards;
}

@keyframes border-color {
    0% {
        border: 1px solid #cbced3;
        box-shadow: 0 0 0 #596871;
    }
    100% {
        border: 1px solid #cbced3;
        box-shadow: 0 0 15px #596871;
    }
}
