::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #69737f;
}

::-webkit-scrollbar-thumb {
    background: #cbced3;
}

::-webkit-scrollbar-thumb:hover {
    background: #f5d6a1;
}
