$color-teal: rgba(61, 211, 165, 1);
$color-teal-opaque: rgba(61, 211, 165, 0.3);
$color-btcOrange: #f2a900;
$color-chillGreen: #224146;

.nav-con-containerest {
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;

    .nav-con-container {
        position: relative;
        background-color: $color-teal;
        clip-path: polygon(15% 0, 85% 0, 100% 5%, 100% 95%, 85% 100%, 15% 100%, 0 95%, 0 5%);

        .nav-con {
            display: flex;
            flex-direction: column;
            row-gap: 4rem;
            padding: 0.5rem;
            margin: 2px;
            background-color: rgba(14, 17, 28, 1);
            clip-path: polygon(15% 0, 85% 0, 100% 5%, 100% 33%, 93% 40%, 93% 60%, 100% 64%, 100% 95%, 85% 100%, 15% 100%, 0 95%, 0 66%, 7% 60%, 7% 40%, 0 33%, 0 5%);
        }
    }
}

.nav-bar-button-stroke:hover > * {
    stroke: #f5d6a1;
}
